/* General CSS Style start here*/
#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: black;
  background-color: var(--bg-light-mid);
  --bg-light-high: oklch(100% 0 0);
  --bg-light-mid: oklch(95% 0 0);
  --bg-light-low: oklch(90% 0 0);
  --bg-dark-high: oklch(0% 0 0);
  --bg-dark-mid: oklch(5% 0 0);
  --bg-dark-low: oklch(10% 0 0);
}
*::-webkit-scrollbar {
  display: none;
}
button {
  width: 150px;
  background-color: var(--bg-light-high);
  color: var(--bg-black-high);
  border: 1px solid black;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
}
button:hover {
  background-color: var(--bg-light-high) !important;
  color: var(--bg-black-high) !important;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  border: 1px solid black;
}
/*Ends here*/
/* /////////////////////////////////////////////// */
/* TheLayout.jsx CSS style start here */
#TheLayout #LayoutDisplay {
  width: 100%;
  height: 1000px;
  display: grid;
  grid-template-columns: 4fr 6fr 4fr;
}
#TheLayout .loginPage {
  width: 100vw;
  height: 45.25vw;
  background-color: oklch(90% 0 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#TheLayout .loginCard {
  width: fit-content;
  padding: 25px;
  background-color: oklch(95% 0 0);
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.2);
}
#TheLayout main {
  width: 79vw;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  background-color: var(--bg-light-mid);
  overflow: hidden;
  overflow-y: scroll;
}
.grid_container {
  display: grid;
  grid-template-columns: 5fr 5fr;
  width: fit-content;
  height: 100vh;
}
.right {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.techCard {
  background-color: var(--bg-light-high);
  width: 250px;
  height: fit-content;
  text-align: left;
  padding-left: 5px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.614);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.techCard:hover {
  scale: 1.01;
  background-color: var(--bg-light-high);
  width: 250px;
  height: fit-content;
  text-align: left;
  padding-left: 5px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.9);
}
.techCard .title {
  text-align: left;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
svg:hover {
  scale: 1.1;
}
.exp {
  background-color: var(--bg-light-high);
  width: 250px;
  height: 250px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.614);
  margin: 25px;
}
.exp:hover {
  scale: 1.01;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.9);
}
.exp h1 {
  margin: 0;
  font-size: 90px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.exp:hover h1 {
  scale: 1.3;
}
.workStudyPanel {
  grid-column: 1;
  background-color: var(--bg-light-high);
  width: 500px;
}
/* Ends here */
/* //////////////////////////////////////////////////// */
/* BmiCalculator.jsx CSS style start here */
.IbmContainer input {
  margin: 5px;
  padding: 5px;
  background-color: var(--bg-light-high);
  color: var(--bg-dark-high);
  border: 1px solid black;
  border-radius: 5px;
}
.IbmContainer .bmi-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  width: 100%;
  height: 125vh;
  overflow: scroll;
}
.IbmContainer .bmi_grid > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
}
.IbmContainer .container {
  width: fit-content;
  background-color: var(--bg-light-high);
  color: var(--bg-dark-high);
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.3);
  margin: 50px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}
.IbmContainer .container > input {
  width: 200px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.IbmContainer .container > h3 {
  text-decoration: underline;
  font-size: 1.5rem;
}

.IbmContainer .container > button {
  background-color: var(--bg-light-high);
  color: black;
  padding: 10px 20px;
  margin: 5px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

.IbmContainer .container > button:hover {
  scale: 0.01;
  background-color: var(--bg-light-high);
  color: white;
  padding: 10px 20px;
  margin: 5px;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 20px;
  scale: 1.02;
}

.IbmContainer .container_1 {
  /* width: 10px; */
  background-color: var(--bg-light-high);
  color: var(--bg-dark-high);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  margin: 50px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.IbmContainer .container_1 input {
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
}
.IbmContainer .container_1 input:focus {
  scale: 1.01;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

/*Ends here*/
/* /////////////////////////////////////////////// */
/* Calculator.jsx CSS style start here */

.main_container {
  display: grid;
  grid-template-columns: 7fr 3fr;
  /* background-color: #5c5c5c; */
}
.main_container .display_container {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 50px;
}
.main_container .btn_container {
  grid-column: 1;
  width: 100%;
  height: fit-content;
}
.main_container .button_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* gap: 5px; */
  /* margin: 5px; */
}
.main_container .btn_container > button {
  /* background-color: ; */
  width: 100%;
  height: 100px;
  margin: 0;
}
.main_container .btn_container > button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.main_container .display_container > input {
  background-color: var(--bg-light-low);
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;
  font-size: large;
}
.main_container .second {
  color: rgb(184, 184, 184);
  text-align: right;
}
.main_container .active-history {
  width: max-content;
  padding-right: 25px;
  height: 342px;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: 2;
  overflow-y: scroll;
  /* overflow-x: hidden; */
  background-color: var(--bg-light-mid);
}
.main_container .active-history::-webkit-scrollbar {
  display: none;
}
.main_container .unactive-history {
  display: none;
}
.main_container .history_box {
  width: 100%;
  height: 50px;
  border: 1px solid white;
  margin: 8px;
  border-radius: 5px;
  text-wrap: wrap;
  background-color: var(--bg-light-high);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Ends here*/
/* /////////////////////////////////////////////// */
/* Home.jsx CSS style start here */

/*Ends here*/
/* /////////////////////////////////////////////// */
/* ImageSlider.jsx CSS style start here */
.image_container {
  width: 600px;
  height: 350px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-size: cover;
  border-radius: 5px;
  margin-left: 35px;
}
img {
  width: 600px;
  height: 350px;
}
#root > p {
  color: rgba(255, 255, 255, 0.629);
}
.ImageSlider > button {
  margin-right: 15px;
}
button:hover {
  background-color: aliceblue;
  color: black;
  border: 1px solid black;
}

/*Ends here*/
/* /////////////////////////////////////////////// */
/* TipCalculator.jsx CSS style start here */
.TipContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.TipContainer > h2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.TipContainer input {
  background-color: var(--bg-light-high);
  color: var(--bg-dark-high);
  border-radius: 5px;
  border: 1px solid white;
  text-align: center;
  margin: 5px;
}
.qualityContainer {
  margin-left: 10px;
  text-align: left;
}
button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.result_container {
  margin: 10px;
  text-align: center;
}

/*Ends here*/
/* /////////////////////////////////////////////// */
/* TodoApp.jsx CSS style start here */
.container_1 {
  grid-column: 1;
  width: 100%;
  height: fit-content;
  display: flex;
  padding-left: 25px;
  align-items: center;
}
.container_2 {
  grid-column: 2;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  padding-right: 25px;
}
.mini_container {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

input {
  width: 500px;
  margin: 5px;
  padding: 5px;
  border: 1px solid white;
  /* border-radius: 5px; */
}

button {
  width: 150px;
}

/*Ends here*/
/* /////////////////////////////////////////////// */

/* .hotelContainer {
        Width:  500px ,
        margin:  2rem auto ,
        padding:  1rem ,
        border:  1px solid #ddd ,
        borderRadius:  8px ,
} */
